{% extends 'flatpages/default.html' %}

{% load static %}


{% block title %}
posts
{% endblock title %}
 
{% block content %}
    <h1>Все посты</h1>
    <hr>
    {% if posts %} <!-- Если есть товары, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Рейтинг
                </td>
            </tr>
        {% for post in posts %} <!-- Для каждого товара будете генерироваться новая строчка, т.е. новый html код. При этом сам цикл работает точно так же, как и в python. product — переменная цикла, т.е. наш товар, взятый из общего списка -->
            <tr>
                <td>
                    {{ post.title|truncatechars:20  }} <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в python. Здесь так же можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                </td>
                <td>
                    {{ post.text|truncatechars:15 }}
                </td>
                <td>
                    {{ post.categoryType }}
                </td>
                <td>
                    {{ post.author }}
                </td>
                <td>
                    {{ post.rating }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}
{% endblock content %}
